*, body {
    font-family: 'Montserrat', sans-serif;
    color: #000, 0, 0;
    font-size: 20px;
    box-sizing: border-box;
}

.container {
    width: 400px;
    height: 250px;
    padding: 10px 20px;
    margin: 50px auto;
    border: #000 2px solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-weight: 700;
}

.input-section__label {
    margin: 5px 0;
}

.input-section__input {
    border: 1px solid #000;
    width: 100%;
    text-align: center;
    padding: 2px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.bitcoin-value {
    padding-bottom: 5px;
    color: black;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px #000 solid;
}
